button {
  position: absolute;
  z-Index: 1;
  margin: 25px 0 0 10px;
}

.container {
  z-Index: 1;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
  margin: 25px 45px;
  position: absolute;
}

.graph {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
